apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  namespace: cnpg-system
spec:
  instances: 3
  storage:
    size: 10Gi
  postgresql:
    parameters:
      max_connections: "1000"
  bootstrap:
    initdb:
      options:
        - --encoding=UTF8
        - --locale=en_US.UTF-8

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: cnpg-system
spec:
  type: ClusterIP
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  selector:
    name: postgres
