---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-registry-rwx
  namespace: harbor
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 50Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-jobservice-rwx
  namespace: harbor
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
